body {
    background: rgb(218, 218, 218);
    color: #0000ff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('photo/SVG/cursor.svg'), pointer;

}

a {
    cursor: url('photo/SVG/cursorlink.svg'), pointer;
}

p {
    cursor: url('photo/SVG/cursortext.svg'), pointer;
}

.grid-main {
    display: grid;
    /* grid-template-columns: 30vw 1fr; */
}

h1 {
    color: rgb(50, 50, 50);
    font-size: 16px;
    font-size:clamp(16px,2vw,32px);
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.1em;
    line-height: 1;
    cursor: url('photo/SVG/cursortext.svg'), pointer;
}



.grid {
    background: rgb(218, 218, 218);
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    justify-items: stretch;
    align-items: stretch;
    gap: 10px;
    margin: 10px;

}

.grid a {
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    color: blue;
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;

}



.grid a>* {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.grid a span {
    opacity: 0;
}


.grid a:hover span {
    opacity: 1;
    z-index: 9999;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.sticky {
    position: sticky;
    top: 18px;

}

hr {
    width: auto;
    height: 2px;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.75);
    border: none
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

a:hover{
    color: #0000ff;
}

.main-color{
    color: #0000ff;
}

a.current{
    color: #0000ff;
}

a.current:hover{
    color: rgba(0, 0, 0, 0.75);
}

.grid img,
.grid video {
    filter: grayscale(1);
}

.grid a:hover img,
.grid a:hover video {
    filter: grayscale(1) blur(0px);
    opacity: 0.1;

}

.gridabout{
    margin-top: 2.1px;
    margin-left: 10px;
}

.gridabout hr {
    width: auto;
    border: none;
    grid-column: 1;
}

.subtitle{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    grid-column: 1;

}

.date {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #0000ff;
    grid-column: 1;
}

.para {
    color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column: 1;


}

@media (min-width:700px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }  
}

@media (min-width:700px) {
    .grid-main{
        grid-template-columns: 30vw 1fr;
    }  
}