body {
    background: rgb(218, 218, 218);
    color: #0000ff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('photo/SVG/cursor.svg'), pointer;

}

a{
    cursor: url('photo/SVG/cursorlink.svg'), pointer;
}

p{
    cursor: url('photo/SVG/cursortext.svg'), pointer;
}
.grid-main {
    display: grid;
    grid-template-columns: 30vw 1fr;
}

a:hover{
    color: #0000ff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    color: rgb(50, 50, 50);
    font-size: 14px;
    font-size:clamp(14px,3vw,32px);
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.1em;
    line-height: 1;
    cursor: url('photo/SVG/cursortext.svg'), pointer;
}


.preg {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
}



.grid {
    background: rgb(218, 218, 218);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 10px;
    margin: 10px;

}

.grid a {
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

img, video {
    max-width: 100%;
    height: auto;
}

.sticky {
    position: sticky;
    top: 18px;

}



hr {
    width: auto;
    height: 2px;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.75);
    border: none
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

.main-color {
    color: #0000ff;
}